[2014-04-29 13:48] hotice opened #3 "Kernel panic in Ubuntu 14.04"
douane-dkms causes Kernel panics in Ubuntu 14.04 64bit. This seems to occur randomly, while browsing some websites in Firefox for instance (so not on boot).

I'm using the Ubuntu Linux 3.13.0-24-generic Kernel.

[2014-05-01 08:57] solenskiner opened #4 "Add new rule type to sort traffic into a user specified class of classy tc qdisk, when a classy qdisk is in use"
This would allow user to e.g. put downloads into a background class, surfing and streaming videos into a best-effort class and ssh voip and games into an interactive class.

[2014-05-01 09:14] solenskiner opened #5 "Add a ruletype which takes a list of like ip netmask portstart-portend combinations or something like that, and also a boolean whether it should act as a whitelist or blacklist."
Whitelisting could be used to secure e.g. a special banking browser against an attacker trying to redirect the user somwhere or inject resources from other servers.

Whitelisting could also be used to confine an app to be able to communicate with only localhost, or only with the LAN with a simple 255.255.255.0 netmask.

Blacklisting could e.g. be used to implement like fail2ban or peerguardian fun

[2014-05-01 09:45] solenskiner opened #7 "Add ability to apply rules to incoming connections to applications."
For exampel to drop or close incoming SSH connections not from my LAN and my work IP

[2014-05-01 09:45] solenskiner opened #8 "Add ability to apply rules to incoming connections to applications."
For exampel to drop or close incoming SSH connections not from my LAN and my work IP

[2014-05-01 09:51] #8 closed, assigned to nobody

[2014-09-19 17:51] ho-mo opened #10 "douane tty problem"
when i install this program tty not work until i log out and log in again !
I use ubuntu 14.04 X64 gnome-shell interface and gdm login
please develop faster and create a way to donate
thanks

[2014-09-20 08:19] #10 closed, assigned to nobody

[2014-11-12 12:05] themighty1 opened #11 "Keep the kernel module code to a minimum"
I noticed that you are struggling with a kernel panic in another issue.
My question is: is this by design that you prefer not to
1. loop through /proc/<PID>/fd entries in the daemon but instead prefer to do it in the kernel module.
2. Keep the rules list in daemon instead of in the module.
3. Look up the exe path in /proc in daemon instead of locking/unlocking a running task in the module.

I unde

[2015-04-26 20:27] zedtux commented on #3
I've switched to Debian and I'm considering trying Douane in order to finally fix this issue.

[2015-04-27 17:24] junkvolny commented on #3
Yesterday, all I had to do for system freeze was run web browser. Today it worked somehow without freeze for quite some time, but I was able to force system hang with following:
1. open web browser (i used firefox), that has allow rule in place, web page loads
2. stop the daemon with #sudo /etc/init.d/douane stop
3. If not already system hang, repeat deamon start/stop few times, mix in few refresh

[2015-04-27 19:46] junkvolny commented on #3
I did huge amount of searching today for possible alternatives today, and I found GPLed project http://sourceforge.net/projects/leopardflower/ that uses iptables and libnetfilter_queue, thus it does not require kernel module (!). I must admit I have not tested it much. I think all these troubles are because kernel module is so hard to debug.

Your "Douane personal firewall" and mentioned "Leopard

[2015-04-27 20:10] arlsr commented on #3
leopardflower has plenty of issues of its own sadly, but none that crash the host.

[2015-04-28 20:17] zedtux commented on #3
As I'm now using Debian (no more Ubuntu), I will now test it with Debian.

[2015-04-29 18:24] zedtux commented on #3
Alright, I have a working Debian in VirtualBox (I have updated the dependencies wiki page for Debian) and I got the crash and the crash dump file has been generated.

I'm giving a look now.

[2015-04-29 18:35] zedtux commented on #3
OK now I see the issue. The freeze come from an issue in the kernel module communication with the daemon.

Simple things like `ping` are working like a charm while a lot of activity is making the freeze happening. I will try to solve this in my free time...

[2015-04-30 05:50] zedtux commented on #3
@junkvolny @arlsr @ho-mo I have created the branch fix-kernel-freeze where I did modification which allowed me to use Douane in a VM. After 15m the VM slow down and the `douane-dialog` process was using 100% of the CPU so I need to have a look to this but at least the kernel freeze is gone for now.

[2015-04-30 19:46] junkvolny commented on #3
I tested today, on same virtual machine that was freezing before, and yes, it seems the kernel freeze is gone, well done.

I didn't test long run, for dialog-process freeze, but to be honest, dialog is least important component - it cannot crash kernel + if it crashes, it does not stop daemon from enforcing rules, hopefully.

[2015-04-30 19:49] junkvolny opened #12 "douane-dialog not in path, start with full path?"
Citing from: https://github.com/Douane/Douane/wiki/Compilation
Now you need to start it:
douane-dialog &
And you should probably see it quit immediately.
---- end of citation

But it isn't in my $PATH variable, it required full path:
/opt/douane/bin/douane-dialog &

Maybe edit wiki? Or did I miss something again?

[2015-05-01 10:38] zedtux commented on #3
You're right, it do not.

I have already identified in the issue Douane/douane-daemon#6 that the daemon is increasing the memory usage and after an amount of time is using all the memory so I need to fix it.

[2015-05-01 10:45] zedtux commented on #11
@themighty1 I'm closing the issue as I'm not going to change the way I did the implementation but anyway in the case someone has suggestion or want to discuss this point he can use this issue.

[2015-05-01 10:45] #11 closed

[2015-05-01 10:49] zedtux commented on #12
You're right. The `make install` is installing Douane in the `/opt/` folder as I wanted to sell it (with the lower price) on the Ubuntu Software Center but I've failed to pass the USC checks (they hate kernel modules) so I will change that.

The long term solution will be to align with the standard which means installing Douane in the `/usr` folder.
For a short term solution, please find bellow my

[2015-05-05 12:41] junkvolny commented on #12
Or 4. you could just change line in wiki from
douane-dialog &
to:
/opt/douane/bin/douane-dialog &
;-)
My point is, when I first tried to copy-paste from wiki, it confused me, because it didn't work. I don't really care about installation paths, and I have no idea how to use pull requests.

[2015-05-05 13:46] zedtux commented on #12
:smile: OK !

I'm doing it now but keep this issue open in order to update anyway the place where Douane is installed.

[2015-05-05 13:47] zedtux commented on #12
Done.

[2015-05-05 13:53] junkvolny commented on #12
Thanks. :-)

[2015-08-31 16:47] jadedevin13 opened #14 "Error 127 when issuing make dkms"
Installing Douane Linux kernel module version 0.8.2...
make: dkms: Command not found
Makefile:77: recipe for target 'dkms' failed
make: *** [dkms] Error 127

[2015-08-31 17:01] jadedevin13 commented on #14
Solved by installing dkms
apt-get install dkms

[2015-08-31 17:01] #14 closed

[2015-09-20 09:39] arlsr commented on #3
@zedtux I got a freeze while installing, probably because I didn't remove the old version but after that no freezes in the several hours I've tested so far. I'll give it more time and report back. Great work fixing it if it is fixed!

[2015-09-20 09:47] zedtux commented on #3
:+1: thank you @arlsr. I would love to get some feedback from you :)

[2015-09-21 18:28] arlsr commented on #3
No issues after 24 hours, I think it's fixed :100:

[2015-10-03 18:52] arlsr commented on #3
I had a freeze while sending a lot of traffic. I've unloaded the kernel module again.

[2016-04-26 23:17] smarek commented on #3
I finally struggled with this too, on Debian 8 x86_64 with kernel 4.4

I can reproduce the problem with 100% success rate, by running `nmap -T4 -A MY_PUBLIC_IP`

Sincerely, it seems my kdump config does not work currently, so I'll try to obtain proper crashdump, so far I have only photo of screen of crashed machine, with stack trace and point to `netfiler_packet_hook.isra.5` within douane kernel m

[2016-04-27 10:48] smarek commented on #3
I've also tried with patch provided in branch **fix-kernel-freeze** but the behavior remains the same

[2016-04-27 12:06] zedtux commented on #3
There should be a problem of something `free`d to earlier (especially when pushing messages from the kernel space to the user space).
But this needs to be debug with `gdb` and `crash`.

Then the next issue to solve will be the daemon memory usage. The daemon is storing too much messages coming from the kernel space and no deleting them apparently.

[2016-04-27 12:06] zedtux commented on #3
@smarek the **fix-kernel-freeze** branch has been merged to master and should be deleted.

[2016-04-28 14:00] smarek commented on #3
@zedtux thanks for info, I'm trying to get hold of crashdump, however there is no /proc/vmcore which is apparently needed for kdump-tools (try `kdump-config savecore`), do you maybe have any idea how to get kernel crash dump working or debug why it is not working?

[2016-04-28 14:05] zedtux commented on #3
@smarek have you tried to follow my blog article http://blog.zedroot.org/linux-kernel-debuging-using-kdump-and-crash/ ?

[2016-04-28 14:54] smarek commented on #3
@zedtux yes, kdump-tools configured (except for the savecore command not working), ubuntu `linux-crashdump` is not available, forcing crash will result in panic on tty1 not in dump in /var/crash (this folder contains only kexec_cmd file). So I cannot say that your blog helped me, but you've mentioned migrating to Debian, that's why I asked in the first place

[2016-04-28 14:58] zedtux commented on #3
I did that blog article while I was running Ubuntu, and since I've migrated to Debian. I should take the time to redo this and do another blog article for Debian this time...
So I don't know how to help you now.

[2016-04-28 15:03] zedtux commented on #3
Regarding the `linux-crashdump` from Ubuntu, it's nothing else than a meta package (see http://packages.ubuntu.com/xenial/linux-crashdump) installing the packages `grub-pc`, `kdump-tools` and `crash`.
The `apport` package is an Ubuntu specific package which we don't care about.

So the Debian equivalent of `sudo apt-get install linux-crashdump` is `apt-get install grub-pc dump-tools crash`

[2016-05-05 19:10] zedtux commented on #3
@smarek here is another blog article explaining how to install KDump on Debian : https://www.bentasker.co.uk/documentation/linux/312-installing-and-configuring-kdump-on-debian-jessie.

I just tried it but unfortunately, I can't get my system booting a kernel after the panic ... I don't know yet why.

[2016-05-11 10:37] primaclip opened #17 "Compilation: make error 10 "ERROR (dkms apport): binary package for douane: 0.8.2 not found""
Hi,
thanks for your efforts with this promising-looking software!
I'm trying to follow your compilation instructions and get stuck at the kernel module part. After installing all dependencies, I did the following (terminal-output) and got an error (since I don't completely understand how the make-process works, I have to ask this way. Hope you can help me with the info provided):

[code]
[make.log

[2016-05-12 07:26] zedtux commented on #17
Hello @primaclip and thank you for your issue :)

It looks like you're using Kernel 4.4, right? Can you please give a try to [this PR](https://github.com/Douane/douane-dkms/pull/15) ?

[2016-05-15 08:51] primaclip commented on #17
I'd love to try it out - but I'm too unexperienced with git and compiling and so on..:

1. i don't know how to exchange the original code with the PR via git -- but I helped myself by just copying the raw text into the file

2.  but then the "make"-commands return errors like "folder already existing" or "Error! DKMS tree already contains: douane-0.8.2
You cannot add the same module/version combo

[2016-05-29 16:54] zedtux commented on #17
No problem @primaclip :)

It's an easy step when you did it already once. Here is how to do it:

 1. Clone the forked repo: `git clone https://github.com/smarek/douane-dkms douane-dkms-smarek` (The `douane-dkms-smarek` at the end means use this name instead of repository name. The idea is to not have a conflict with the official Douane repository)
 2. CD to the folder: `cd douane-dkms-smarek`
 3.

[2016-06-22 12:12] datapharmer commented on #17
I attempted this and it failed. Here is the output:

sudo make rebuilddkms
make cleandkms; \
make dkms
make[1]: Entering directory '/home/kevin/Douane/douane-dkms-smarek'
Removing Douane Linux kernel module...

------------------------------
Deleting module version: 0.8.2
completely from the DKMS tree.
------------------------------
Done.
make[1]: Leaving directory '/home/kevin/Douane/douane-dkms-

[2016-07-06 13:55] bash64 opened #18 "mint 18 64bit fails"
[code]

I followed all of the latest dependency and compile instructions to the tee.

Are you compatible with kernel 4.4?

[2016-07-06 13:57] bash64 commented on #18
p.s. I notice you use systemD.
I boot using Upstart.
systemD should still function though. I did not uninstall systemD.

[2016-07-06 14:33] zedtux commented on #18
@bash64 please have a look at the PR Douane/douane-dkms#15 and [here](https://github.com/Douane/douane-dkms/issues/17#issuecomment-222370707) are the instructions in case you don't know how to deal with it.

[2016-07-11 16:34] bash64 commented on #17
sudo make dkms
Installing Douane Linux kernel module version 0.8.2...

Creating symlink /var/lib/dkms/douane/0.8.2/source ->
                 /usr/src/douane-0.8.2

DKMS: add completed.

Kernel preparation unnecessary for this kernel.  Skipping...

Building module:
cleaning build area....
make KERNELRELEASE=4.4.0-24-generic -C /lib/modules/4.4.0-24-generic/build M=/var/lib/dkms/douane/0.8.2/build.

[2016-07-11 16:34] bash64 commented on #18
sudo make dkms
Installing Douane Linux kernel module version 0.8.2...

Creating symlink /var/lib/dkms/douane/0.8.2/source ->
                 /usr/src/douane-0.8.2

DKMS: add completed.

Kernel preparation unnecessary for this kernel.  Skipping...

Building module:
cleaning build area....
make KERNELRELEASE=4.4.0-24-generic -C /lib/modules/4.4.0-24-generic/build M=/var/lib/dkms/douane/0.8.2/build.

[2016-07-11 16:35] bash64 commented on #18
I did do rebuilddkms first and it failed. I then went into the original dkms folder and did make cleandkms. then came back and tried sudo make dkms on the new branch and got the above error.

[2016-07-11 17:43] bash64 commented on #18
I wouldn't mind trying a lower kernel, however, mint 18 comes with a minimum of 4.4.0-21.

[2016-07-12 12:32] zedtux commented on #17
So for me, this is a compilation issue with the kernel 4.4. @smarek do you have any comment about this?

[2016-07-12 13:24] bash64 commented on #17
I did do rebuilddkms first and it failed. I then went into the original dkms folder and did make cleandkms. then came back and tried sudo make dkms on the new branch and got the above error. I wouldn't mind trying a lower kernel, however, mint 18 comes with a minimum of 4.4.0-21.

[2016-07-12 17:19] zedtux commented on #17
@bash64 I think there is a compilation issue.

[2016-07-15 13:01] bash64 commented on #17
I am working on my 2nd ebook. I expect to finish it in about 30 days. Douane has a chapter in it right now. Need to get something working before release or I will have to leave Douane out.

[2016-07-15 14:22] zedtux commented on #17
Ho, really? That's nice!! 👍 @smarek do you have an input on this?

[2016-07-17 12:08] smarek commented on #18
@bash64 could you please provide the make log file? (mentioned in error message as in `/var/lib/dkms/douane/0.8.2/build/make.log` )

[2016-07-17 12:10] smarek commented on #17
This is already being reported in #18 probably should be one or another issue closed as duplicate. Also we need the build logs to debug anything.

[2016-07-17 15:52] bash64 commented on #18
$ cat /var/lib/dkms/douane/0.8.2/build/make.log
DKMS make.log for douane-0.8.2 for kernel 4.4.0-24-generic (x86_64)
Mon Jul 11 12:33:33 EDT 2016
make[1]: Entering directory '/usr/src/linux-headers-4.4.0-24-generic'
  LD      /var/lib/dkms/douane/0.8.2/build/built-in.o
  CC [M]  /var/lib/dkms/douane/0.8.2/build/douane.o
/var/lib/dkms/douane/0.8.2/build/douane.c:1115:15: warning: initialization from

[2016-07-17 15:54] bash64 commented on #17
ok, i posted to #18.

[2016-07-17 16:17] smarek commented on #18
Yes, this is same problem, I've fixed with PR #15 (field .owner unknown, etc..)
Use patch from my PR, because you're obviously not using it .)

[2016-07-17 18:20] bash64 commented on #18
Ok, I don't see the instructions for using the PR.

[2016-07-17 20:54] zedtux commented on #18
@bash64 the instructions are the same as described [here](https://github.com/Douane/douane-dkms/issues/17#issuecomment-222370707)

[2016-07-18 10:48] bash64 commented on #18
Installing Douane Linux kernel module version 0.8.2...

Creating symlink /var/lib/dkms/douane/0.8.2/source ->
                 /usr/src/douane-0.8.2

DKMS: add completed.

Kernel preparation unnecessary for this kernel.  Skipping...

Building module:
cleaning build area....
make KERNELRELEASE=4.4.0-24-generic -C /lib/modules/4.4.0-24-generic/build M=/var/lib/dkms/douane/0.8.2/build.....(bad exit s

[2016-07-18 11:00] smarek commented on #18
skip this step, and you're fine "git checkout fix-kernel-freeze"

[2016-07-18 11:08] bash64 commented on #18
ok, compiled.

[2016-07-18 11:22] bash64 commented on #18
Douane-dialog:

massive errors compiling this.
Are the compile instructions correct from here: https://github.com/Douane/Douane/wiki/Compilation

[2016-07-18 11:28] smarek commented on #18
again, they should be, provide the build log

[2016-07-18 11:35] bash64 commented on #18
ok, I deleted everything and started over.
dkms compiles just fine from smarek,
the daemon compiles with warnings, errors, and notes.
I start the daemon.

I cannot download dialog until i stop doaune-dameon.
it is blocking access to github.com so i stop the daemon.

i get warnings, errors, and notes and it fails.

that is where i am.
I have no issues following instructions here.
I have never seen

[2016-07-18 11:38] bash64 commented on #18
Here are my dependencies:

[2016-07-18 11:39] bash64 commented on #18
hold on, some of the dependencies were not installed.

[2016-07-18 11:58] bash64 commented on #18
get back with ya later on today

[2016-07-18 12:37] zedtux commented on #18
@bash64 this is normal. As soon as you start Douane, all connection are blocked excepted the allowed one, but here you're starting from a blank list so all is blocked and the dialog is not install so can't popup.

All is logged in `/var/log/douane.log`.

OK so keep clam and restart from the beginning :)

[2016-07-20 08:41] AlisaKitty opened #19 "Make dkms error"
Ubuntu 16.04
[code]

[2016-07-20 11:47] zedtux commented on #19
@AlisaKitty you need to use the @smarek's PR [here](https://github.com/Douane/douane-dkms/pull/15). Follow the instructions from [this comment](https://github.com/Douane/douane-dkms/issues/17#issuecomment-222370707) in case you don't know how to proceed.

[2016-07-20 16:19] AlisaKitty commented on #19
okey

[2016-07-20 17:28] AlisaKitty commented on #17
cd
mkdir Douane
cd Douane/
git clone https://github.com/smarek/douane-dkms douane-dkms-smarek
[code]
cd douane-dkms-smarek
git checkout fix-kernel-freeze
[code]
sudo make dkms
[code]

[2016-07-20 17:28] AlisaKitty commented on #17
git clone https://github.com/smarek/douane-dkms-smarekCloning into 'douane-dkms-smarek'...
Username for 'https://github.com':

[2016-07-21 07:32] zedtux commented on #17
[code]

Is not correct, you have to do

[code]

as you did.

Before you have to uninstall the old version. From the original version you need to use `sudo make dkmsclean` and then follow the instructions.

[2016-07-21 11:06] AlisaKitty commented on #17
[code]

[2016-07-25 10:07] deathtrip opened #20 "upstreaming kernel module?"
Any plans to move the module into the meinline kernel?
It would solve problems with using secure boot, as it prevents using custom modules, and reduce maintaince cost.

[2016-07-25 12:29] zedtux commented on #20
I would love it @deathtrip but the kernel module is not stable yet and I have not time yet to stabilise it.
In a ideal world, Douane would be stable and super popular and integrated to almost all Linux distributions :)

[2016-07-31 02:09] cmalkus opened #21 "sendmsg: Connection Refused"
Hello, I am getting the following error in my log file when I try to turn the configurator on. There is a little red notification by the switch as well that says "D-bus service org.zedroot.Douane not found" on mouseover.

`30/07/2016 16:02:18  INFO: Loaded 136 Freedesktop desktop files`
`30/07/2016 16:02:18  INFO: Loaded 0 rules`
`30/07/2016 16:02:18 ERROR: Error while calling sendmsg: Connection

[2016-07-31 02:14] #21 closed

[2016-08-08 08:47] cmalkus commented on #17
Having the same issue.

`$ sudo make cleandkms
Removing Douane Linux kernel module...

------------------------------
Deleting module version: 0.8.2
completely from the DKMS tree.
------------------------------
Done.
$ git status
On branch fix-kernel-freeze
Your branch is up-to-date with 'origin/fix-kernel-freeze'.
nothing to commit, working directory clean
$ sudo make dkms
Installing Douane Linux

[2016-08-08 08:52] zedtux commented on #17
@primaclip, @datapharmer, @bash64 @AlisaKitty, @smarek and @cmalkus you have to use the @Guimli's fork https://github.com/Guimli/douane-dkms.

He is working very hard on fixing the kernel module issues and all the tests I'm doing as of now shown that the module is much more stable.

So please run `sudo make cleandkms` and then `git clone https://github.com/Guimli/douane-dkms douane-dkms-guimli` an

[2016-08-08 09:29] cmalkus commented on #17
This got my daemon running, but when it is, all my connections timeout and no dialogs are presented.
When I start douane-dialog with the -D flag, I get this:
[code]
The log looks like this
[code]

`07/08/2016 23:25:23  INFO: Currently 1 pending rules` repeats a lot. I assume that means its waiting for me to accept or deny a network request, but the dialog never appears

[2016-08-08 09:51] zedtux commented on #17
Okay so it's a step forward 👍

Well I never saw this error before... That's strange.

Exactly, the firewall is doing his job (blocking all communication of the unknown applications) and yes until you validates it, the application will be blocked.

Now why you have this issue, I don't know, really. I have the same version than you and all is working fine.
The only thing I can recommend you for now

[2016-08-08 09:59] cmalkus commented on #17
One thing I noticed was the files in the douane-dialog directory have been changed since building from guimli's branch. When I do a git status I see this:

[code]

I will try to start from scratch tomorrow. Thanks for all your help so far.

[2016-08-08 10:03] zedtux commented on #17
This is a fixed I have merged this week-end in order to fix the compilation of the dialog application. Let's us know if it solves your issue or not :)

[2016-08-09 05:48] zedtux commented on #3
@hotice, @pavlinux @ho-mo, @arlsr, @junkvolny and @smarek I have merged @Guimli's PR this morning which fixes a lot of issues and seems to have fixed the kernel freezes! (I tested it over the week-end without freezes).

Can you please `pull` the master branch of this repo, rebuild the module and give me your feedbacks?

[2016-08-09 05:50] zedtux commented on #17
I close this issue as I have merge @Guimli's PR which fixes this issue.

[2016-08-09 05:50] #17 closed

[2016-08-09 05:50] zedtux commented on #18
I close this issue as I have merge @Guimli's PR which fixes this issue.

[2016-08-09 05:50] #18 closed

[2016-08-09 05:50] zedtux commented on #19
I close this issue as I have merge @Guimli's PR which fixes this issue.

[2016-08-09 05:50] #19 closed

[2016-08-09 05:53] zedtux commented on #20
@deathtrip for your information, the kernel module stability is increasing! It's not yet ready but we moved forward.

Do you know what is the process of moving the module to the mainline kernel?

[2016-08-09 06:06] cmalkus commented on #17
I tried starting the dialog again, and it worked! Well I crashed right after showing the first dialog, but I restarted it and now it seems to be behaving normally.

[2016-08-09 06:08] zedtux commented on #17
Thank you @cmalkus for your feedback. The bug you got is known but we don't have an existing issue in the [Dialog repository](https://github.com/Douane/douane-dialog/issues). So if you can open one, that would be great :)

[2016-08-09 09:15] deathtrip commented on #20
here's a guide from the official kernel website:
https://www.kernel.org/doc/Documentation/SubmittingPatches

Glad to hear the module is getting more stable. Keep up the good work

[2016-08-12 10:59] hotice commented on #3
I'm not using Ubuntu 14.04 any more. In Ubuntu 16.04, douane-daemon and douane-dialog fail to build. Here are the builds in my test PPA: https://launchpad.net/~nilarimogard/+archive/ubuntu/test2/+packages?field.name_filter=&field.status_filter=published&field.series_filter=xenial

Looking at my earlier comments, just installing the dkms module doesn't trigger the issue, the daemon must be running.

[2016-08-12 11:37] zedtux commented on #3
You're build issue is coming from your packing. The daemon and dialog needs to be cloned using the `--recursive` flag in order to download the sub modules too. See the documentation https://github.com/Douane/Douane/wiki/Compilation#the-daemon.

[2016-08-12 15:09] hotice commented on #3
Oh, I missed that, sorry. Everything builds now. However, the douane-dialog which is supposed to let me allow access for apps to use the Internet, never shows up.  I tried restarting the session, etc., nothing seems to work. Maybe something changed in Ubuntu 16.04 that prevents it from working?

[2016-08-12 15:12] zedtux commented on #3
Nope, it's working for me with that version of Ubuntu.

Can you please have a look at the `/var/log/douane.log` and `/var/log/kern.log` files?
You can also run the dialog progress in debug mode using the `-D` flag.

I'm there to help you if you need :)

[2016-08-15 12:40] hotice commented on #3
It looks like the only way to get douane-dialog to show up is to run it manually, but then it segfaults after about 1 second. Even in debug mode, it doesn't display anything. I did get it once to display an output (without the debug flag):
[code]

[2016-08-16 21:01] zedtux commented on #3
Well that's strange. As I said, I have a VM of Ubuntu 16.04.1, all up-to-date and I have the dialog showing up.

Now it is true that I'm always running the app in debug mode, launched manually, it's a long time ago I didn't tried the _normal_ way.

The dialog process is a little buggy, but it shouldn't crash the next second after you've started it.
I can see in the log you have accepted at least a

[2017-01-14 13:00] x-solid opened #23 "Installing the unsigned douane kernel in Ubuntu 16.04.1"
If the ubuntu kernel was compiled with a config file /boot/conf* the enforcement for signed kernel modules was enabled
`CONFIG_MODULE_SIG=y`
`CONFIG_MODULE_SIG_ALL=y`
Ubuntu kernel won't load any module not being signed, as refered to this [SO answer](http://stackoverflow.com/questions/24975377/kvm-module-verification-failed-signature-and-or-required-key-missing-taintin) and my issue [here](https:

[2017-04-26 17:26] Kwaadpepper opened #24 "Compilation error Ubuntu 16.04.2"
I failed to install this :

    sudo make dkms
    Installing Douane Linux kernel module version 0.8.2...

    Creating symlink /var/lib/dkms/douane/0.8.2/source ->
                     /usr/src/douane-0.8.2

    DKMS: add completed.

    Kernel preparation unnecessary for this kernel.  Skipping...

    Building module:
    cleaning build area....
    make KERNELRELEASE=4.11.0-041100rc6-generic -C

[2017-04-27 05:41] zedtux commented on #24
Thank you @Kwaadpepper for reporting this compilation issue.

[2017-06-03 11:41] tejado commented on #24
Following patch solved the compiling issue for me on 16.04.02:

[code]

[2017-06-03 13:36] zedtux commented on #24
Thank you very much @tejado for your input! Can you please open a pull request with this change so that @Kwaadpepper will test it?

[2017-06-03 15:23] tejado commented on #24
Done: https://github.com/Douane/douane-dkms/pull/25

[2017-06-04 05:11] zedtux commented on #24
Thank you @tejado! @Kwaadpepper can you please check and update this issue?

[2017-11-19 10:43] cynay opened #26 "Build error on kernel 4.13.x"
Hi, i got a compile error when building the module please help. I really like this project and would love to get it working!

My dependencies:
[code]

Make:
[code]

Logfile:
[code]

any help appreciated :)

[2017-11-20 08:32] zedtux commented on #26
Thank you @cynay for your issue.

As far as I can see, you're using Fedora and you're the very first one contacting me for this distribution. If I'm not mistaking you're using the Linux Kernel version 4.13.12 which seems to not be supported.

Based on your error message, I could say that the function `nf_register_hook` has been renamed to `nf_register_net_hook`, and same for `nf_unregister_hook`.

[2017-11-20 08:33] zedtux commented on #24
@Kwaadpepper any news please?

[2017-11-20 09:04] Kwaadpepper commented on #24
Hello sorry, I really don't have time nor the computer to test this. My
apologies.

Le lun. 20 nov. 2017 à 09:33, Guillaume Hain <notifications@github.com> a
écrit :

[2017-11-20 09:50] zedtux commented on #24
Okay, thank you @Kwaadpepper for answering.

@tejado are you using your fork and is it working since?

[2017-11-20 21:41] tejado commented on #24
I used it but currently I'm not using douane. But yeah, it worked with the mentioned patch.

[2017-11-21 09:51] cynay commented on #26
Hi @zedtux , thanks alot for your answer.

I tried to change the functions but without success. I have to say i'm not very fluent with C and i never did code modules or something like that.

As far as i can tell the problem is now with the struct nf_hook_ops which needs additional parameters.
`struct nf_hook_ops {
	/* User fills in from here down. */
	nf_hookfn		*hook;
	struct net_device	*dev;
	vo

[2017-11-21 11:01] zedtux commented on #26
@cynay okay thank you for trying :)

Well as far as I can see, there is this `expected ‘struct net *’ but argument is of type ‘struct nf_hook_ops *’` so I think the `nf_hook_ops` struct should be replaced by the `net` one I guess ...

[2017-11-21 20:18] cynay commented on #26
Hi again

Ok I'm progressing :) The modul is running
[code]

I added an empty struct net for testing. I could solve the other errors (error: implicit declaration) by adding:
[code]
This is linked to this Issue:  #24

Now i have problems with the daemon:
Logfile (cleaned):
[code]

The dialog isn't working (when i start it it flashes for like 20ms in the Taskbar and prints out the following:
[code]

[2017-11-22 08:11] zedtux commented on #26
I think this will make Douane not hooking to the Linux Kernel Netfilter module, meaning no packet capture, so you will never see any dialog opening, but at least it confirms that with the version 4.13.x (we should figure out when the method has been renamed in order to write the right compilation condition).

Regarding your error `IO Exception : status code = 13` to me it sounds like permission is

[2017-11-22 08:21] cynay commented on #26
Looks like the global hooks (nf_register_hook) where removed in Kernel 4.13.x (https://elixir.free-electrons.com/linux/v4.13/source/include/linux/netfilter.h) in 4.12.14 they are still present.

I try to fix the Kernel module with a right net namespace and test again.

[2017-11-25 09:07] cynay commented on #26
Hi @zedtux
I create a Pull request with the fix for kernel version over 4.12.14.
The App-Firewall is working now as expected :)
Thanks alot for your input.

[2017-11-27 06:42] zedtux commented on #26
Great job @cynay! I will do the code review. Stay tune.

[2018-01-02 21:53] Mato-Z opened #28 "Compilation error on Kali Linux"
Hello, during compilation douane-dkms on Kali Linux Rolling - SMP Debian 4.14.2-1kali1 (2017-12-04) x86_64 GNU/Linux I get this error:

[code]
make.log:
[code]
Can you help me please?

[2018-01-04 07:10] zedtux commented on #28
@Mato-Z your issue duplicates #26 so I'm closing it, please join issue #26

[2018-01-04 07:10] #28 closed

[2018-01-09 15:35] Mato-Z commented on #26
@zedtux hello, thanks so I am continuing here. I applied modifications that you and @cynay  post above. But I have still problems my log: Many thanks fro help.
[code]

[2018-01-09 15:46] cynay commented on #26
Hi @Mato-Z
I think the Problem is with Kernel 4.14.x. I got everything working on my VM with Kernel 4.13.x but on my main system with Kernel 4.14.x I also got new problems.

Will have a look at it as soon as possible but this could take some time...

[2018-01-09 16:00] Mato-Z commented on #26
Hi @cynay, ok, thanks a lot.

[2018-02-05 00:22] Mato-Z commented on #26
Hi @cynay have you any progress please?

[2018-02-13 09:22] cynay commented on #26
Hi @Mato-Z  sorry but i didn't find any time so far (Got a newborn at home and this eats my coding time :) )

[2018-02-15 08:28] zedtux commented on #26
Congrats @cynay !! 🎉 Same for me 😉

[2018-02-15 09:30] Mato-Z commented on #26
@cynay, @zedtux congrats too. @zedtux Do you have any idea for fix this bug?  Douane is great tool, if it stay in this state it will be a big pity... :-(

[2018-02-17 02:53] ripping-constable opened #29 "Compilation Error Linux Mint 18.3 [Kernel 4.13.0.32-generic]"
Hi, am trying to compile Douane and have installed the dependencies as detailed in the wiki.

When compiling douane-dkms I get the following error:

make.log output as follows:

Any help would be excellent - I really want to compile this!

[2018-02-17 11:11] zedtux commented on #24
@Kwaadpepper and @tejado I have merged the PR so please check and re-open an issue if it isn't fixed. Thank you @tejado for your contribution 👍

[2018-02-17 11:11] #24 closed

[2018-02-17 11:13] zedtux commented on #29
Duplicates #26. Please join us on #26

[2018-02-17 11:13] #29 closed

[2018-02-17 11:23] zedtux commented on #26
@Mato-Z for now I'm bringing all the people having the same issue here hoping for someone to find a solution.

I don't know the fix but I know the reason: New Linux Kernel changes the Netfilter module and some code adaptation needs to be done here, [like it has already be done in the past](https://github.com/Douane/douane-dkms/blob/master/douane.c#L457).

Usually I was a website storing the Linux

[2018-02-27 12:55] cynay commented on #26
Also Congrats @zedtux  😄
I've got it working but after a short time everything freezes and i don't really know how i can debug this.
You can see my changes here: https://github.com/cynay/douane-dkms/blob/master/douane.c

Changes:
Lines: 1174ff
[code]
Lines: 1191ff
[code]

I've addes some debugging to list the net_devices:
![selection_010](https://user-images.githubusercontent.com/275718/36729611-1

[2018-02-27 14:10] zedtux commented on #26
Thanks @cynay. 😃.

Well that's a good start and yeah, debugging in the kernel is something hard for me too. At the moment I was writing Douane, I had a working way which is no more working.
I have [described my solution](http://blog.zedroot.org/linux-kernel-debuging-using-kdump-and-crash/) at that time on [my blog](http://blog.zedroot.org/).

So if you find a working way, I would appreciate a lot

[2018-03-08 09:11] #26 closed

[2018-03-08 09:12] zedtux commented on #26
@Mato-Z a fix by @cynay has been merged in the `master` branch, can you please refresh and retry?

[2018-04-21 11:26] Mato-Z opened #31 "Computer absolutely frozen"
Hello,
I have a big problem with system stability after compilation, install and run all components according to https://github.com/Douane/Douane/wiki/Compilation. My computer many times absolutely frozen. Only solution is manually power off (with button) my notebook, so I have to do "hard reset". In my Douane log I see this:
[code]
Not only with Skype very often with Mozilla Firefox too.

In my s

[2018-04-21 11:26] Mato-Z commented on #26
@cynay @zedtux I am very sorry for my late reply. Many thanks! Compilation was done successfully. But unfortunately I have a big problem with stability of my system please see https://github.com/Douane/douane-dkms/issues/31

[2018-04-21 11:50] Mato-Z commented on #31
I see that it will be very similar as http://blog.zedroot.org/linux-kernel-debuging-using-kdump-and-crash/ so please close this and we can continue in https://github.com/Douane/douane-dkms/issues/26

[2018-04-22 06:28] zedtux commented on #26
@Mato-Z the issue you reported about stability and this issue are 2 different things. This issue should stay closed as it has been fixed. Instead you should contribute to the issue #3.

[2018-04-22 06:28] zedtux commented on #31
Duplicates #3

[2018-04-22 06:28] #31 closed

[2018-04-22 06:30] zedtux commented on #3
@Mato-Z can you please give more information? What is the ouput of `lsb_release -a` and `uname -a`?

[2018-04-22 08:52] Mato-Z commented on #3
@zedtux Thanks.
uname -a:
`Linux mato-pc2 4.15.0-kali2-amd64 #1 SMP Debian 4.15.11-1kali1 (2018-03-21) x86_64 GNU/Linux`
lsb_release -a:
[code]

[2018-06-10 03:09] thebunnyrules opened #32 "Tutorial - How to sign and install douane-dkms without having to disable UEFI secure boot"
Most motherboard and laptop manufacturers have a feature called Secure Boot where the hardware will not allow you to run kernels or even install modules for these Kernels unless they've been signed by a recognized entity such as Canonical or, gagh!, Microsoft. This is an excellent security feature which will protect you from malicious unsigned kernels or modules but it is inconvenient when one is

[2018-06-10 05:08] zedtux commented on #32
Thank you @thebunnyrules for this ! 👍

It has to be added to [the Wiki](https://github.com/Douane/Douane/wiki/Compilation)! Maybe creating 2 pages (compile without signing, another compile with signing).

Do you want to do it @thebunnyrules ?

[2018-06-10 11:38] thebunnyrules commented on #32
Sure, I can do it. I'm not sure about the creating two pages thing, let me play around with it.

[2018-06-10 12:02] thebunnyrules commented on #32
Ok, I made the wiki entries. Check it out. See if you like it. Since the signing instructions are long, I gave it's own page as you suggested but since the normal instructions are simple, I kept them where they were and put a note below them, explaining the signing and linking to the newpage.

[2018-06-10 17:32] zedtux commented on #32
Awesome work @thebunnyrules 👍.

[2018-06-10 17:32] #32 closed

[2018-06-13 11:01] zedtux commented on #3
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/douane-dkms/issues/3).

[2018-06-13 11:02] zedtux commented on #4
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/douane-dkms/issues/4).

[2018-06-13 11:02] zedtux commented on #5
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/douane-dkms/issues/5).

[2018-06-13 11:02] zedtux commented on #7
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/douane-dkms/issues/7).

[2018-06-13 11:02] zedtux commented on #12
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/douane-dkms/issues/12).

[2018-06-13 11:03] zedtux commented on #20
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/douane-dkms/issues/20).

[2018-06-13 11:03] zedtux commented on #23
This repo has moved to GitLab and this issue has been imported. You can access it [here](https://gitlab.com/douaneapp/douane-dkms/issues/23).

[2019-02-14 14:50] #3 closed

[2019-02-14 14:50] #4 closed

[2019-02-14 14:50] #5 closed

[2019-02-14 14:50] #7 closed

[2019-02-14 14:50] #12 closed

[2019-02-14 14:50] #20 closed

[2019-02-14 14:50] #23 closed

[2019-02-20 07:46] vbhasin2 commented on #24
Thankyou @tejado for providing the patch! :)

[2019-06-30 09:05] ghost commented on #19
the repo got deleted i think, its already 3 years, but I need douane to work

[2019-07-01 14:52] zedtux commented on #19
Hey @SlightlyWindyHub, have a look at this repo's homepage, [Douane has moved to Gitlab](https://gitlab.com/douaneapp/douane-dkms) !

This issue has been imported [here](https://gitlab.com/douaneapp/douane-dkms/issues/19).

If you have any issue, please [open a ticket](https://gitlab.com/douaneapp/douane-dkms/issues/new).

[2022-05-08 21:42] mike394 commented on #14
└─$ sudo apt-get install dkms
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
E: Unable to locate package dkms